
#aq_wrapper{
    height:auto;
    width:770px;
    margin: 0 auto 0px;
    margin-top: 10px;
    padding-bottom: 15px;
}
#aq_wrapper2{
    height:auto;
    width: 770px;
    -webkit-box-shadow: 0 1px 3px 0 white;
    display: block;
    box-shadow: 0 0 5px #CACACA;
    margin-top: 10px;
}
#aq_wrapper3{
    height:auto;
    width: 750px;
    margin: 0 auto 0px;
    padding-bottom: 10px;
}
#wrapper_head{
    width:770px;
    height:45px;
    background-color:#FC0;
    border-radius:5px;
    vertical-align: middle;
    line-height: 45px;    
}
.textboxstyle{
    background: white; 
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    height:25px; 
    width: 680px; 
    padding-left: 5px;
}
.textboxstyle2{
    background: white; 
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    height:25px; 
    width: 100px; 
    padding-left: 5px;
}
#wrapper_foot{
    width:750px;
    height:auto;
    margin: 0 auto 0px;
    -webkit-box-shadow: 0 1px 3px 0 white;
    display: block;
    box-shadow: 0 0 5px #CACACA;
    display: inline-block;
}
#foot_con_main{
    width:270px;
    height:auto;
    margin-left:60px;
    padding-right:10px;
    padding-bottom:20px;
    padding-top: 20px;
    border-radius:4px;
    margin-top:30px;
    margin-bottom: 30px;
    display:inline-block;
}
#foot_con_pic{
    width:70px;
    height:70px;
    background-image:url(../images/dgh.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    border-radius:4px;
}
#foot_con_bio{
    width:190px;
    height:auto;
    float:right;
    margin-top:-75px;
    border-radius:4px;
}
#foot_con_name{
    width:190px;
    height:auto;
    float:right;
    margin-top:-50px;
    border-radius:4px;
}
.foot_con_name_tag{
    width:80px;
    height:auto;
    float:left;
    border-radius:4px;
    margin-left:5px;
    word-wrap:break-word;
}
.foot_con_name_name{
    width:100px;
    height:auto;
    float:right;
    border-radius:4px;
    word-wrap:break-word;
}
#foot_con_address{
    width:190px;
    height:auto;
    float:right;
    margin-top:-30px;
    border-radius:4px;
}
#foot_con_reputation{
    height:auto;
    width:190px;
    float:right;
    margin-top:-10px;
    border-radius:4px;
    word-wrap: break-word;
}
#foot_con_bestfor{
    width:290px;
    height:auto;
    border-radius:4px;
    word-wrap:break-word;
    margin-top:20px;
    margin-left: 10px;
}
#foot_con_bestfor_name{
    width:80px;
    height:auto;
    border-radius:4px;
    float:left;
}
#foot_con_bestfor_details{
    width:auto;
    height:auto;
    border-radius:4px;
    word-wrap:break-word;
}
#foot_con_bestfor_details_tag{
    border-radius:3px;
    background-color:#F90;
    text-decoration:none;
}
#foot_con_bestfor_details_tag:hover{
    background-color:#3FC;
}
#footer_2{
    width:700px;
    height:auto;
    padding-bottom: 15px;
}
#publish_btn{
    text-decoration:none;
    background-color:#F90;
    font-size:22px;
    margin-top:10px;
    margin-bottom:20px;
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
    padding: 3px;
}
#publish_btn:hover{
    background-color: #cc6600;
}