/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 3, 2014, 9:48:23 AM
    Author     : Krish
*/

/*For body style*/
body {

    background-image: url('../images/body-bg1.png');
    margin: 0px;
    background-color: #e9eaed;
    font: 14px 'trebuchet ms' ,Ti;

}

#logo{
    float: left;
    height: 50px;
    width: 250px;
    background-size: cover;
    background-repeat: no-repeat;
}

/*Comman font style*/
.fontfamily{
    font-family:'Bree Serif', 'serif';
}

/*Main div,whole content inside this*/
#wrapper{
    width: 1000px;
    margin: 0 auto;
    overflow: visible;
}

/*Main menu bar content div*/
#mainmenubar{
    width: 1000px;
    height: 50px;
    background:#FC0;

    -webkit-box-shadow: 0 1px 3px 0 white;
    display: block;
    box-shadow: 0 0 5px #CACACA;
    border-radius: 2px;

    top: 0px;
    position: absolute;
    z-index: 10;

}

/*Main menu bar Buttons div*/
#mainmenubarbtn{
    float: left;
    font-size: 20px;
    margin-top: 14px;
    color:#666;

}

/*Main menu bar Buttons*/
#mainmenubarbtn a:link {
    background: #FC0; 
    color:black;
    text-decoration: none;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -6px;
}

/*Main menu bar Buttons mouseover event*/
#mainmenubarbtn a:hover{
    background:#e9e9e9;
    color: black;
}

/*Search bar content div*/
#searchbar{
    padding-left: 10px;
    padding-right: 10px;
    float: right;
    margin: 10px;
}

/*Search bar textbox*/
#txtsearch{
    background: white;
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    height:22px; 
    width: 250px; 
}

/*a tags visited color change*/
a, a:visited, a:active {
    color: inherit;
}

/*Left side Menu bar content div*/
#lsidebar{
    float: left;
    height: auto;
    width: 200px;
    background: white;
    margin-top: 10px;
}

/*Left side menubar profile image content div*/
#lsidebarpoto{
    width:100px;
    height:100px;
    background: yellow;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

/*Left side menubar profile image edit button div*/
#profeditbtn{
    float: right;
    margin-top: 80px;
    margin-right: 3px;
    text-decoration: none;
    padding: 3px;
    background: #e9eaed;
    border-radius: 5px;
    font-size: 10px;
}

/*Left side menubar profile image edit button mousehover event*/
#profeditbtn:hover{
    background: white;
}

/*Left side menubar login details*/
#logindetails{
    float: right;
    width: 80px;
    margin-top: 70px;
    margin-right: 5px;
    text-align: center;
}

/*Left side menu buttons start*/
.sidemenu,
.sidemenu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
}
.sidemenu {
    font-family:'Bree Serif', 'serif';
    font-size: 20px;
    width: 200px;
}
.sidemenu ul a
{
    display: block;
    color:#666;
    text-decoration: none;
    font-weight: 300;
}
.sidemenu ul {
    background: white;
}
.sidemenu > ul > li > a {
    padding: 10px 20px;
}
.sidemenu ul li:hover > a {
    color:#000;
    background-color:#e0e0e0;
}
/*Left side menu buttons end	*/

/*Left side News content div*/


/*Left side News content*/


/*Main content div*/
#content{
    background: white;
    width: 790px;
    height:auto;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 2px;
}

/*Footer styls*/
#footer{
    height:auto;
    display: inline-block;
    bottom: 0px;
    float: left;
    width: 1000px;
    display: block;
    margin-top: 10px;
}
#footer_div1{
    height: 230px;
}
#footer_div1_head{
    height: 60px;
    text-align: center;
    font-size: 25px;
    vertical-align: middle;
    line-height: 60px;
    font: sans-serif;
}
.footer_div1_social_divpack{
    width: 100px;
    height: 100px;
    background-color:#FC0;
    margin-left: 115px;
    border-radius: 20px;
    margin-top: 20px;
}
.footer_div1_social_div1{
   
}
.footer_div1_social_div2{
    width: 70px;
    height: 70px;
    background-color:#FC0;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 15px;
}
.footer_div1_social_div2:hover{
   -webkit-box-shadow: 0 1px 3px 0 white;
    border: 1px solid white;
    box-shadow: 0 0 5px #CACACA;
}
.footer_div1_social_div3{
    width: 100px;
    margin-top: 20px;
    font-size: 10px;
}
#footer_div2{
    height: 130px;
    background-color:rgb(55,69,80);
    color: #ffffff;
}
#footer_div2_menu{
    padding-top: 35px;
    height: 50px;
}
#footer_div2_last{
    height: 40px;
    text-align: center;
    color:#cccccc;
}
/*end of footer styles*/

  /*Left side News content div*/
#news{
    
    margin: 10px;
    display: inline-block;
    border-radius: 3px;
}
#newcontent{
    background: white;
    margin-top: 15px;
    margin-left: 4px;
    margin-right: 1px;
    margin-bottom: 3px;
    width: 170px;
    height: 150px;
}
/*  small div styles */
#topquestions{
    width: 180px;
    height:auto;
    background-color:#CCC;
}
#topquestions_head{
    width: 180px;
    height: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid;
    border-width: 1px;
    font: sans-serif;
}
#topquestions_content{
    width: 170px;
    height:auto;
    margin: 0 auto;
    padding-bottom: 5px;
    word-wrap: break-word;
    font: sans-serif
}
#topquestions_content_title{
    width: 170px;
    height:auto;
    margin: 0 auto;
    padding-bottom: 5px;
    word-wrap: break-word;
    font: sans-serif;
    margin-top: 5px;
}
#topquestions_content_bottom{
    width: 170px;
    height:auto;
    margin: 0 auto;
    padding-bottom: 5px;
    word-wrap: break-word;
    font: sans-serif;
    text-align: right;
    color:#003cb3;
}



#askquestions{
    width: 180px;
    height:auto;
    background-color:#CCC;
}
#askquestions_head{
    width: 180px;
    height: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid;
    border-width: 1px;
    font: sans-serif;
}
#askquestions_content{
    width: 170px;
    height:auto;
    margin: 0 auto;
    padding-bottom: 5px;
    word-wrap: break-word;
    font: sans-serif;
}
#askquestions_content_title{
    width: 170px;
    height:auto;
    margin: 0 auto;
    padding-bottom: 5px;
    word-wrap: break-word;
    font: sans-serif;
    margin-top: 5px;
}
#askquestions_content_bottom{
    width: 170px;
    height:auto;
    margin: 0 auto;
    padding-bottom: 5px;
    word-wrap: break-word;
    font: sans-serif;
    text-align: right;
    color:#003cb3;
}


#allusrs{
    width: 170px;
    height: auto;
    margin-top: 10px;
    padding-left: 5px;
}
#allusrs_top{
    width: 170px;
    height: auto;
    overflow: hidden;
    font-size: 30px;
    font-weight: bold;
    color: #999999;
}
#allusrs_bottom{
    width: 170px;
    height: auto;
    font-size: 20px;
    font-weight: bold;
}

#questions{
    width: 170px;
    height: auto;
    margin-top: 10px;
    padding-left: 5px;
}
#questions_top{
    width: 170px;
    height: auto;
    overflow: hidden;
    font-size: 30px;
    font-weight: bold;
    color:#999999;
}
#questions_bottom{
    width: 170px;
    height: auto;
    font-size: 20px;
    font-weight: bold;
}


#un_questions{
    width: 170px;
    height: auto;
    padding-left: 5px;
}
#un_questions_top{
    width: 170px;
    height: auto;
    overflow: hidden;
    font-size: 30px;
    font-weight: bold;
    color:#999999;
}
#un_questions_bottom{
    width: 170px;
    height: auto;
    font-size: 16px;
    font-weight: bold;
}

#help{
    width: 180px;
    height:auto;
}
#help_head{
    width: 180px;
    height: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: solid;
    border-width: 1px;
    font: sans-serif;
    color:#999999;
}
#help_content{
    width: 165px;
    height:auto;
    margin: 0 auto;
    padding-bottom: 5px;
    word-wrap: break-word;
    font: sans-serif;
    margin-top: 5px;
    color:#00cccc;
}


#fav_tags{
    width: 180px;
    height:auto;
    background-color:#CCC;
}
#fav_tags_head{
    width: 180px;
    height: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid;
    border-width: 1px;
    font: sans-serif;
}
#fav_tags_content{
    width: 170px;
    height:auto;
    margin: 0 auto;
    padding-bottom: 5px;
    word-wrap: break-word;
    font: sans-serif;
    display: inline-block;
}
#fav_tags_content_tag{
    padding: 3px;
    display: inline-block;
    background-color: #999999;
    margin-top: 5px;
    margin-left: 9px;
    border-radius: 5px;
}
#fav_tags_content_tag:hover{
    color:#ffffff;
    background-color:#666666;
}


#topusers{
    width: 180px;
    height:auto;
    background-color:#CCC;
}
#topusers_head{
    width: 180px;
    height: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid;
    border-width: 1px;
    font: sans-serif;
}
#topusers_content{
    width: 170px;
    height:auto;
    margin: 0 auto;
    padding-bottom: 5px;
    word-wrap: break-word;
    font: sans-serif;
    display: inline-block;
}
#topusers_content_oneuser{
    width: 48px;
    height: 55px;
    display: inline-block;
    margin-top: 5px;
    margin-left: 6px;
}
#topusers_content_oneuser_img{
    width: 38px;
    height: 38px;
    margin-left: 5px;
    margin-top: 3px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
}
#topusers_content_oneuser_name{
    width: 48px;
    height:10px;
    overflow: hidden;
    display:inline-block;
    float: right;
    margin-top: -4px;
    padding-bottom: 5px;
    text-align: center;
}


/* stop small div styles */