#dp_wrapper{
	width:780px;
	height:auto;
        margin-left: 3px;
}
#dp_wrapper_maincon{
	width:780px;
	height:auto;
	margin:0 auto 0px;
}
#dp_wrapper_maincon_head{
	width:775px;
	height:auto;
}

/*mainconmenu*/
#mainconmenu,
#mainconmenu ul,
#mainconmenu ul li,
#mainconmenu ul li a {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
}
#mainconmenu {
  padding: 0 5px;
  width: auto;
  font-family: Helvetica, Arial, sans-serif;
  background-color:#FC0;
  border-radius:5px;
  margin-left: 10px;
  margin-top: 10px;
}
#mainconmenu:after,
#mainconmenu ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#mainconmenu ul li {
  display: inline-block;
}
#mainconmenu.align-right ul li {
  float: right;
}
#mainconmenu.align-center ul {
  text-align: center;
}
#mainconmenu ul li a {
  font-size: 14px;
  padding: 15px;
  text-decoration: none;
}
#mainconmenu ul li:hover{
  background-color:#FFF;
}
#mainconmenu ul li.active{
	width:200px;
	background-color:#FC0;
        padding: 15px;
}
/*end of main con menu*/

/*main con body*/
#dp_wrapper_maincon_body{
	width:760px;
	height:auto;
	-webkit-box-shadow: 0 1px 3px 0 white;
    border: 1px solid white;
    display:inline-block;
    box-shadow: 0 0 5px #CACACA;
	margin-top:10px;
	margin-left:10px;
	margin-bottom:10px;
}
#prof_pic_con{
	width:150px;
	height:170px;
	float:left;
	display:inline-block;
	margin-top:20px;
	margin-left:30px;
}
#prof_pic{
	width:150px;
	height:150px;
	background-image:url(dgh.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}
#change_pic{
	width:100px;
	height:20px;
	margin-left:25px;
}
#dp_wrapper_maincon_body_form{
	width:500px;
	height:auto;
	margin:10px 0px 10px;
	display:inline-block;
	float:right;
}
.dp_text_tag{
	width:110px;
	height:auto;
	float:left;
	border-radius:4px;
	margin-left:5px;
	word-wrap:break-word;
	display:inline-block;
}
.dp_text_details{
	width:310px;
	height:auto;
	float:right;
	border-radius:4px;
	word-wrap:break-word;
	display:inline-block;
}
.error{
    width: 430px;
    height:20px;
    color: red;
    padding-top: 5px;
}
#dp_username{
	width:430px;
	height:auto;
	float:right;
	border-radius:4px;
	display:inline-block;
	margin-top:5px;
}
#dp_email{
	width:430px;
	height:auto;
	float:right;
	border-radius:4px;
	display:inline-block;
	margin-top:5px;
}
#dp_realname{
	width:430px;
	height:auto;
	float:right;
	border-radius:4px;
	display:inline-block;
	margin-top:5px;
}
#dp_website{
	width:430px;
	height:auto;
	float:right;
	border-radius:4px;
	display:inline-block;
	margin-top:5px;
}
#dp_location{
	width:430px;
	height:auto;
	float:right;
	border-radius:4px;
	display:inline-block;
	margin-top:5px;
}
#dp_dob{
	width:430px;
	height:auto;
	float:right;
	border-radius:4px;
	display:inline-block;
	margin-top:5px;
}
#richtextbox{
	width:740px;
	height:auto;
	display:inline-block;
	margin-left:10px;
}
#save_btncon{
	width:200px;
	height:auto;
	border-radius:4px;
	display:inline-block;
	margin-top:20px;
	margin-left:550px;
	margin-bottom:10px;
}
#free{
	width:150px;
	height:50px;
	margin-top:5px;
}
#file {
color: red;
border-radius: 5px;
width: 60%;
margin-top:10px;
}
#selectImage{
	padding-top:10px;
bottom: 0px;
width: 414px;
border-radius: 10px;
}
/*end of main con body*/

#dp_textboxstyle{ 
    background: white; 
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    height:25px; 
    width: 292px;
    padding-left: 8px;
}
#font{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style:italic;
	font-size:16px;
}
#btn{
    background:#FC0;
    -webkit-box-shadow: 0 1px 3px 0 white;
    border: 1px solid white;
	border-radius:5px;
    box-shadow: 0 0 5px #CACACA;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
}
#btn:hover {
  background:#F90;
  text-decoration: none;
}

