#dp_wrapper{
	width:770px;
	height:auto;
}
#dp_wrapper_maincon{
	width:770px;
	height:auto;
	margin:0 auto 0px;
}
#dp_wrapper_maincon_head{
	width:770px;
	height:auto;
        margin-top: 10px;
        margin-left: 10px;
}

/*mainconmenu*/
#mainconmenu,
#mainconmenu ul,
#mainconmenu ul li,
#mainconmenu ul li a {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
}
#mainconmenu {
  padding: 0 5px;
  width: auto;
  font-family: Helvetica, Arial, sans-serif;
  background-color:#FC0;
  border-radius:5px;
}
#mainconmenu:after,
#mainconmenu ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#mainconmenu ul li {
  display: inline-block;
}
#mainconmenu.align-right ul li {
  float: right;
}
#mainconmenu.align-center ul {
  text-align: center;
}
#mainconmenu ul li a {
  font-size: 14px;
  padding: 15px;
  text-decoration: none;
}
#mainconmenu ul li:hover{
  background-color:#FFF;
}
#mainconmenu ul li.active{
	width:400px;
	background-color:#FC0;
	padding:15px;
}
/*end of main con menu*/

/*main con body*/
#dp_wrapper_maincon_body{
    width:765px;
    height:auto;
    -webkit-box-shadow: 0 1px 3px 0 white;
    border: 1px solid white;
    display: block;
    box-shadow: 0 0 5px #CACACA;
    margin-top:10px;
    margin-left: 11px;
    margin-bottom: 15px;
}
#dp_wrapper_maincon_body_div1{
	width:500px;
	height:auto;
	word-wrap:break-word;
	text-align:center;
	margin-left:130px;
	margin-top:40px;
}
#dp_wrapper_maincon_body_div2{
	width:250px;
	height:200px;
	background-size:cover;
	background-repeat:no-repeat;
	margin-left:250px;
	margin-top:40px;
}
#dp_wrapper_maincon_body_div3{
	width:500px;
	height:auto;
	word-wrap:break-word;
	text-align:center;
	margin-left:130px;
	margin-top:50px;
	margin-bottom:40px;
}
/*end of main con body*/
#font{
	font:sans-serif;
	font-size:22px;
	font-weight:bold;
}	




