@charset "utf-8";
#dp_wrapper{
	width:770px;
	height:auto;
}
#dp_wrapper_maincon{
	width:770px;
	height:auto;
	margin:0 auto 0px;
}
#dp_wrapper_maincon_head{
	width:770px;
	height:auto;
        margin-top: 10px;
        margin-left: 10px;
}

/*mainconmenu*/
#mainconmenu,
#mainconmenu ul,
#mainconmenu ul li,
#mainconmenu ul li a {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
}
#mainconmenu {
  padding: 0 5px;
  width: auto;
  font-family: Helvetica, Arial, sans-serif;
  background-color:#FC0;
  border-radius:5px;
}
#mainconmenu:after,
#mainconmenu ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#mainconmenu ul li {
  display: inline-block;
}
#mainconmenu.align-right ul li {
  float: right;
}
#mainconmenu.align-center ul {
  text-align: center;
}
#mainconmenu ul li a {
  font-size: 14px;
  padding: 15px;
  text-decoration: none;
}
#mainconmenu ul li:hover{
  background-color:#FFF;
}
#mainconmenu ul li.active{
	width:400px;
	background-color:#FC0;
	padding:15px;
}
/*end of main con menu*/

/*main con body*/
#dp_wrapper_maincon_body{
	width:770px;
	height:auto;
	display:inline-block;
	margin-top:15px;
	margin-left:20px;
        margin-bottom: 60px;
}
.dp_wrapper_maincon_body_divset{
	height:250px;
	width:240px;
	display:inline-block;
	padding-left:5px;
	padding-top:5px;
}
.dp_wrapper_maincon_body_divset_title{
	height:auto;
	width:240px;
	font:sans-serif;
	font-weight:bold;
	font-size:14px;
	word-wrap:break-word;
	overflow:hidden;
	display:inline-block;
        border-bottom: solid;
        border-bottom-width: 1px;
        border-bottom-color: #888;
}
.dp_wrapper_maincon_body_divset_content{
	height:230px;
	width:240px;
	display:inline-block;
	word-wrap:break-word;
	overflow:hidden;
	color:#09F;
}
#dp_wrapper_maincon_subpage_body{
	width:765px;
	height:auto;
	margin-left:11px;
	 -webkit-box-shadow: 0 1px 3px 0 white;
    border: 1px solid white;
    box-shadow: 0 0 5px #CACACA;
	margin-top:10px;
        margin-bottom: 15px;
}
#dp_wrapper_maincon_subpage_body_text{
	width:740px;
	height:auto;
	margin-left:15px;
	margin-top:10px;
}
/*List Styles*/
.a{
    margin-left: -25px;
}
.b{
    margin-top: 5px;
}
/*-------------*/
/*end of main con body*/
	