@charset "utf-8";
#dp_wrapper{
	width:770px;
	height:auto;
	margin-top:10px;
	margin-left:10px;
        padding-bottom: 10px;
}
#dp_wrapper_head{
	height:auto;
	width:750px;
	word-wrap:break-word;
	font-size:18px;
	background-color:#CCC;
	border-radius:5px;
	border-style:solid;
	border-width:1px;
	margin-top:15px;
        padding: 10px;
	font-style:italic;
        text-align: center;
}
#dp_wrapper_head_exit{
	width:15px;
	height:15px;
	float:right;
	border-style:solid;
	border-width:thin;
	border-radius:2px;
	text-align:center;
	text-decoration:none;
	vertical-align:middle;
	line-height:15px;
	color:#999;
        margin-top: -7px;
        margin-right: -7px;
}
#dp_wrapper_head_exit a:hover{
	color:#000;
}
#dp_wrapper_maincon{
	width:770px;
	height:auto;
	margin:0 auto 0px;
	margin-top:10px; 
        border-radius: 3px;
}
#dp_wrapper_maincon_head{
	width:770px;
}

/*mainconmenu*/
#mainconmenu,
#mainconmenu ul,
#mainconmenu ul li,
#mainconmenu ul li a {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
}
#mainconmenu {
  padding: 0 5px;
  width: auto;
  font-family: Helvetica, Arial, sans-serif;
  background-color:#FC0;
  border-radius:5px;
  height: 45px;
}
#mainconmenu:after,
#mainconmenu ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#mainconmenu ul li {
  display: inline-block;
  margin-top: 2px;
}
#mainconmenu.align-right ul li {
  float: right;
}
#mainconmenu.align-center ul {
  text-align: center;
}
#mainconmenu ul li a {
  font-size: 14px;
  padding: 15px;
  text-decoration: none;
}
#mainconmenu ul li a:visited{
	color:inherit;
}
#mainconmenu ul li:hover{
  background-color:#FFF;
}
#mainconmenu ul li.active{
	width:500px;
	background-color:#FC0;
        padding-left: 5px;
}
/*end of main con menu*/

/*main con body*/
#dp_wrapper_maincon_body{
	width:770px;
	height:auto;
	display:inline-block;
        -webkit-box-shadow: 0 1px 3px 0 white;
        display:inline-block;
        box-shadow: 0 0 5px #CACACA;
        margin-top: 10px;
}
#dp_wrapper_maincon_body_status_con{
	width:auto;
	height:auto;
	margin-top:20px;
        margin-bottom: 20px;
        margin-left: 10px;
        display: inline-block;
}
#dp_wrapper_maincon_body_status{
	width:70px;
	height:46px;
	text-align:center;
	background-color:#CCC;
	font-size:15px;
        font-style: italic; 
}
#dp_wrapper_maincon_body_status_count_vote{
	width:60px;
	height:19px;
	text-align:center;
	font-size:20px;
        padding-top: 5px;
        margin-left: 5px;
}
#dp_wrapper_maincon_body_status_count_answers{
	width:60px;
	height:19px;
	text-align:center;
	font-size:20px;
        margin-left: 5px;
}
#dp_wrapper_maincon_body_status_count_views{
	width:60px;
	height:19px;
	text-align:center;
	font-size:20px;
        margin-left: 5px;
}
#dp_wrapper_maincon_body_details{
	width:680PX;
	height:auto;
	float:right;
        display:inline-block;
}
#dp_wrapper_maincon_body_titleofq{
	height:40px;
	width:700px;
	word-wrap:break-word;
	font-size:19px;
	border-radius:5px;
	vertical-align:middle;
	line-height:40px;
	color:#06F;
	margin-top:5px;
}
#dp_wrapper_maincon_body_titleofq:hover{
	text-decoration:underline;
}
#dp_wrapper_maincon_body_content{
	height:auto;
	width:680px;
	word-wrap:break-word;
	font-size:15px;
	border-radius:5px;
	vertical-align:middle;
	line-height:17px;
}
#dp_wrapper_maincon_body_tags_tab{
	width:470px;
	height:40px;
	margin-top:20px;
	word-wrap:break-word;
}
#dp_wrapper_maincon_body_tags_tab_tag{
	border-radius:3px;
	background-color:#CCC;
	text-decoration:none;
	padding:3px 3px 3px 3px;
}
#dp_wrapper_maincon_body_tags_tab_tag:hover{
	background-color:#999;
}
#textboxstyle{
    background: white; 
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    height:35px; 
    width: 70px;
    margin-left:10px; 
}
#dp_wrapper_maincon_body_status_con_two{
	width:auto;
	height:auto;
	float:right;
	margin-top:-45px;
	margin-bottom:15px;
        display: inline-block;
        margin-right: 10px;
}
#dp_wrapper_maincon_body_status_two{
	width:140px;
	height:20px;
	text-align:center;
	border-style:none;
}
#dp_wrapper_maincon_body_status_asked{
	width:46px;
	height:20px;
	position:absolute;
	border-style:none;
	text-align:left;
}
#dp_wrapper_maincon_body_status_time{
	width:94px;
	height:20px;
	float:right;
	border-style:none;
	text-align:left;
}
#dp_wrapper_maincon_body_status_three{
	width:185px;
	height:auto;
	margin-top:5px;
}
#dp_wrapper_maincon_body_status_three_image{
	width:45px;
	height:45px;
	background-repeat:no-repeat;
	background-size:cover;
	position:absolute;
}
#dp_wrapper_maincon_body_status_three_username{
	width:140px;
	height:20px;
	color:#09F;
	font-size:13px;
	float:right;
        overflow: hidden;
}
#dp_wrapper_maincon_body_status_three_reputation{
	width:140px;
	height:20px;
	font-size:13px;
	float:right;
}
#dp_wrapper_foot{
	width:770px;
	height:auto;
	margin-top:20px;
        padding-bottom: 20px;
}
#dp_wrapper_foot_left{
	width:490px;
	height:auto;
	float:left;
	display:inline-block;
	word-wrap:break-word;
        padding-bottom: 20px;
}
#dp_wrapper_foot_right{
	width:280px;
	height:auto;
	float:right;
	display:inline-block;
	word-wrap:break-word;
        padding-bottom: 20px;
}
#dp_wrapper_foot_left_prve{
	width:30px;
	height:20px;
	color:#999;
	display:inline-block;

}
#dp_wrapper_foot_left_spece{
	width:20px;
	height:20px;
	color:#999;	
	display:inline-block;
	text-align:center;
}
#dp_wrapper_foot_left_number{
	width:20px;
	height:20px;
	border-style:solid;
	border-width:thin;
	color:#999;
	display:inline-block;
	text-align:center;
	margin-left:2px;
}
#dp_wrapper_foot_left_count{
	width:auto;
	height:20px;
	border-style:solid;
	border-width:thin;
	color:#999;
	display:inline-block;
	text-align:center;
	padding-left:3px;
	padding-right:3px;
	margin-left:3px;
}
#dp_wrapper_foot_left_next{
	width:35px;
	height:20px;
	color:#999;
	display:inline-block;
	padding-left:5px;
}
#dp_wrapper_foot_right_counts_one{
	width:20px;
	height:20px;
	border-style:solid;
	border-width:thin;
	color:#999;
	display:inline-block;
	text-align:center;
	margin-left:2px;
}
#dp_wrapper_foot_right_counts_two{
	width:20px;
	height:20px;
	border-style:solid;
	border-width:thin;
	color:#999;
	display:inline-block;
	text-align:center;
	margin-left:2px;
}
#dp_wrapper_foot_right_counts_three{
	width:20px;
	height:20px;
	border-style:solid;
	border-width:thin;
	color:#999;
	display:inline-block;
	text-align:center;
	margin-left:2px;
}
#dp_wrapper_foot_left_perpage{
	width:60px;
	height:20px;
	color:#999;
	display:inline-block;
	margin-left:5px;

}
#dp_wrapper_foot a:visited{
	color:inherit;
}
#font{
	font-family: sans-serif;
	font-style:italic;
}
#font1{
	font-family:'Bree Serif', 'serif';
	font-style:italic;
        font-size: 15px;
}
/*end of main con body*/

