#dp_wrapper{
	width:770px;
	height:auto;
        display: inline-block;
        padding-bottom: 15px;
}
#dp_wrapper_maincon_head{
	width:770px;
	height:auto;
        display: inline-block;
        margin-top: 10px;
        margin-left: 10px;
}
#dp_wrapper_maincon_body{
	width:770px;
	height:auto;
        margin-top: 10px;
        display: inline-block;
}
/*mainconmenu*/
#mainconmenu,
#mainconmenu ul,
#mainconmenu ul li,
#mainconmenu ul li a {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
}
#mainconmenu {
  padding: 0 5px;
  width: auto;
  font-family: Helvetica, Arial, sans-serif;
  background-color:#FC0;
  border-radius:5px;
  height: 45px;
}
#mainconmenu:after,
#mainconmenu ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#mainconmenu ul li {
  display: inline-block;
  margin-top: 2px;
}
#mainconmenu.align-right ul li {
  float: right;
}
#mainconmenu.align-center ul {
  text-align: center;
}
#mainconmenu ul li a {
  font-size: 14px;
  padding: 15px;
  text-decoration: none;
}
#mainconmenu ul li:hover{
  background-color:#FFF;
}
#mainconmenu ul li.active{
	width:400px;
	background-color:#FC0;
}
/*end of main con menu*/



/*Sign in page style*/
#login_wrapper_maincon{
    width:760px;
    height:auto;
    -webkit-box-shadow: 0 1px 3px 0 white;
    border: 1px solid white;
    display:inline-block;
    box-shadow: 0 0 5px #CACACA;
	margin-left: 15px;
}
/*main con body*/
#login_wrapper_maincon_body{
	width:760px;
	height:auto;
        display: inline-block;
}
#login_wrapper_maincon_body_loginform{
	width:550px;
	height:auto;
	margin:10px 100px 10px;
	display:inline-block;
}
.login_text_tag{
	width:100px;
	height:auto;
	float:left;
	border-radius:4px;
	margin-left:5px;
	word-wrap:break-word;
	display:inline-block;
}
.login_text_details{
	width:440px;
	height:auto;
	float:right;
	border-radius:4px;
	word-wrap:break-word;
	display:inline-block;
}
#login_email{
	width:550px;
	height:auto;
	float:right;
	border-radius:4px;
	display:inline-block;
	margin-top:10px;
}
#login_password{
	width:550px;
	height:auto;
	float:right;
	border-radius:4px;
	display:inline-block;
	margin-top:10px;
}
#login_keepme{
	width:150px;
	height:30px;
	float:left;
	border-radius:4px;
	margin-top:10px;
        margin-left: 130px;
}
#login_forgetpassword{
	width:150px;
	height:auto;
	border-radius:4px;
        margin-left: 155px;
}
#login_btncon{
	width:70px;
	height:auto;
	border-radius:4px;
        margin-top: -40px;
        margin-right: 15px;
        float: right;
        
}
	
/*end of main con body*/	
.textboxstyle{ 
    background: white; 
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    height:25px; 
    width: 440px; 
    padding-left: 5px;
}
#font{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style:italic;
	font-size:16px;
}
#btn{
    background: #3498db;
    -webkit-box-shadow: 0 1px 3px 0 white;
    border: 1px solid white;
	border-radius:5px;
    box-shadow: 0 0 5px #CACACA;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
}
#btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}
/*end of sign in style*/

/*sign up page style*/
#signup_wrapper_maincon{
    width:760px;
    height:auto;
    margin-left: 15px;
    -webkit-box-shadow: 0 1px 3px 0 white;
    border: 1px solid white;
    display:inline-block;
    box-shadow: 0 0 5px #CACACA;
}
/*main con body*/
#signup_wrapper_maincon_body{
	width:760px;
	height:auto;
        display: inline-block;
}
#signup_wrapper_maincon_body_loginform{
	width:590px;
	height:auto;
	margin:10px 100px 10px;
	display:inline-block;
}
.signup_text_tag{
	width:150px;
	height:auto;
	float:left;
	border-radius:4px;
	margin-left:5px;
	word-wrap:break-word;
	display:inline-block;
}
.signup_text_details{
	width:430px;
	height:auto;
	float:right;
	border-radius:4px;
	word-wrap:break-word;
	display:inline-block;
}
#signup_name{
	width:590px;
	height:auto;
	float:right;
	border-radius:4px;
	display:inline-block;
	margin-top:10px;
}
#signup_email{
	width:590px;
	height:auto;
	float:right;
	border-radius:4px;
	display:inline-block;
	margin-top:10px;
}
#signup_password{
	width:590px;
	height:auto;
	float:right;
	border-radius:4px;
	display:inline-block;
	margin-top:10px;
}
#signup_confermpassword{
	width:590px;
	height:auto;
	float:right;
	border-radius:4px;
	display:inline-block;
	margin-top:10px;
}
.signup_textbol_lable{
    width: 430px;
    height: auto;
    word-wrap:break-word;
    color: red;
    margin-top: 3px;
    margin-left: 10px;
    border-radius: 5px;
}
#signup_btncon1{
	width:270px;
	height:40px;
	float:right;
	border-radius:4px;
	display:inline-block;
	margin-top:10px;
	background: #F30;
	-webkit-box-shadow: 0 1px 3px 0 white;
    border: 1px solid white;
	border-radius:5px;
    box-shadow: 0 0 5px #CACACA;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 0px 0px 0px 0px;
    vertical-align: middle;
    line-height: 40px;
    text-decoration: none;
}
#signup_btncon2{
	width:270px;
	height:40px;
	float:right;
	border-radius:4px;
	display:inline-block;
	margin-top:10px;
	background:#06C;
        vertical-align: middle;
    line-height: 40px;
	-webkit-box-shadow: 0 1px 3px 0 white;
    border: 1px solid white;
	border-radius:5px;
    box-shadow: 0 0 5px #CACACA;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 0px 0px 0px 0px;
    text-decoration: none;
}
#signup_btncon3{
	width:100px;
	height:40px;
	float:right;
	border-radius:4px;
	display:inline-block;
	margin-top:10px;

    
    
}
#signup_btncon1:hover{
  background: #F00;
  text-decoration: none;
}
#signup_btncon2:hover{
  background:#03C;
  text-decoration: none;
}


#signup_btncon_pic1{
	width:40px;
	height:40px;
	background-size:cover;
	background-repeat:no-repeat;
	display:inline-block;
}
#signup_btncon_pic2{
	width:40px;
	height:40px;background-size:cover;
	background-repeat:no-repeat;
	display:inline-block;
}
#signup_btncon_pic3{
	width:40px;
	height:40px;
	background-size:cover;
	background-repeat:no-repeat;
	display:inline-block;
}
#signup_btncon_btn1{
	width:220px;
	height:40px;
	float:right;
	display:inline-block;
}
#signup_btncon_btn2{
	width:220px;
	height:40px;
	float:right;
	display:inline-block;
}
#signup_btncon_btn3{
	width:80px;
	height:40px;
	float:right;
	display:inline-block;
}
#signup_textboxstyle{ 
    background: white; 
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    height:25px; 
    width: 430px; 
    padding-left: 5px;
}
/*end of sign up page style*/

