#dp_wrapper{
	width:770px;
	height:auto;
}
#dp_wrapper_maincon{
	width:770px;
	height:auto;
	margin:0 auto 0px;
}
#dp_wrapper_maincon_head{
	width:770px;
	height:auto;
        margin-top: 10px;
        margin-left: 10px;
}

/*mainconmenu*/
#mainconmenu,
#mainconmenu ul,
#mainconmenu ul li,
#mainconmenu ul li a {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
}
#mainconmenu {
  padding: 0 5px;
  width: auto;
  font-family: Helvetica, Arial, sans-serif;
  background-color:#FC0;
  border-radius:5px;
}
#mainconmenu:after,
#mainconmenu ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#mainconmenu ul li {
  display: inline-block;
}
#mainconmenu.align-right ul li {
  float: right;
}
#mainconmenu.align-center ul {
  text-align: center;
}
#mainconmenu ul li a {
  font-size: 14px;
  padding: 15px;
  text-decoration: none;
}
#mainconmenu ul li:hover{
  background-color:#FFF;
}
#mainconmenu ul li.active{
	width:600px;
	background-color:#FC0;
	padding:15px;
}
#mainconmenu ul li.activetwo{
	background-color:#FC0;
}
/*end of main con menu*/

/*main con body*/
#dp_wrapper_maincon_body{
       width:765px;
       height:auto;
       -webkit-box-shadow: 0 1px 3px 0 white;
       border: 1px solid white;
       display: block;
       box-shadow: 0 0 5px #CACACA;
       margin-top:10px;
       margin-bottom:15px;
       margin-left: 11px;
}
#dp_wrapper_maincon_body_rowset{
	width:750px;
	height:auto;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;
	display:inline-block;
}
#dp_wrapper_maincon_body_content_row{
	width:750px;
	height:auto;
	display:inline-block;
	font-size:20px;
	border-radius:5px;
}
#dp_wrapper_maincon_body_content_row:hover{
	background-color:#CCC;
}
#dp_wrapper_maincon_body_content_row_div1{
	width:100px;
	height:auto;
	float:right;
	margin-top:20px;
	font-weight:bold;
}
#dp_wrapper_maincon_body_content_row_div2{
	width:150px;
	height:auto;
	float:right;
	margin-top:20px;
}
#dp_wrapper_maincon_body_content_row_div3{
	width:450px;
	height:auto;
	float:right;
	word-wrap:break-word;
	margin-right:15px;
	margin-top:20px;
	color:#999;
	padding-bottom:15px;
}
#dp_wrapper_maincon_body_content_row_div3:hover{
	color:#000;
}

/*end of main con body*/
	


