#dp_wrapper{
	width:770px;
	height:auto;
	margin-top:10px;
	margin-left:10px;
        padding-bottom: 15px

}
#dp_wrapper_maincon{
	width:770px;
	height:auto;
	margin:0 auto 0px;
}
#dp_wrapper_maincon_head{
	width:760px;
	height:auto;
        margin-left: 5px;
}

/*mainconmenu*/
#mainconmenu,
#mainconmenu ul,
#mainconmenu ul li,
#mainconmenu ul li a {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
}
#mainconmenu {
  padding: 0 5px;
  width: auto;
  font-family: Helvetica, Arial, sans-serif;
  background-color:#FC0;
  border-radius:5px;
  height:45px;
}
#mainconmenu:after,
#mainconmenu ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#mainconmenu ul li {
  display: inline-block;
  margin-top:2px;
}
#mainconmenu.align-right ul li {
  float: right;
}
#mainconmenu.align-center ul {
  text-align: center;
}
#mainconmenu ul li a {
  font-size: 14px;
  padding: 15px;
  text-decoration: none;
}
#mainconmenu ul li:hover{
  background-color:#FFF;
}
#mainconmenu ul li.active{
	width:500px;
	background-color:#FC0;
        padding-top: 13px;
}
/*end of main con menu*/

/*submenus*/
#subconmenu,
#subconmenu ul,
#subconmenu ul li,
#subconmenu ul li a {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
}
#subconmenu {
  padding: 5px 5px;
  width: auto;
  font-family: Helvetica, Arial, sans-serif;
  background-color:#FFF;
  border-bottom-width: 1px;
  border-bottom-style:solid;
  margin-top: 30px;
  margin-bottom: 30px;
}
#subconmenu:after,
#subconmenu ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#subconmenu ul li {
  display: inline-block;
}
#subconmenu.align-right ul li {
  float: right;
}
#subconmenu.align-center ul {
  text-align: center;
}
/*#subconmenu ul li a {
  font-size: 14px;
  padding: 15px;
  text-decoration: none;
}*/
#subconmenu ul li:hover{
  background-color:#FFF;
}
#subconmenu ul li.active{
	width:580px;
}
#subconmenu ul li.activetwo{
	width:100px;
}
/*end of main con menu*/

/*main con body*/
#dp_wrapper_maincon_body{
	width:760px;
	height:auto;
        -webkit-box-shadow: 0 1px 3px 0 white;
        box-shadow: 0 0 5px #CACACA;
        margin: 10px auto 0px;
        padding-bottom: 15px;
}
#dp_wrapper_maincon_body_content{
	width:760px;
	height:auto;
}
/*profile details*/
#foot_con_main{
	width:375px;
	height:auto;
	margin-left:40px;
	padding-right:50px;
	padding-bottom:20px;
	border-radius:4px;
	margin-top:30px;
	display:inline-block;
}
/*about me*/
#foot_con_aboutme{
	width:270px;
	height:190px;
	float:right;
	display:inline-block;
	background-color:#CCC;
	margin-top:30px;
        margin-right:10px
}
#foot_con_aboutme_top{
	width:270px;
	height:25px;
	text-align:center;
	background-color:#FC0;
}
/*end of about me*/
#foot_con_pic{
	width:130px;
	height:130px;
	background-repeat:no-repeat;
	background-size:cover;
	border-radius:4px;
        display:inline-block;
}
.foot_con_name_tag{
	width:80px;
	height:auto;
	float:left;
	border-radius:4px;
	margin-left:5px;
	word-wrap:break-word;
}
.foot_con_name_name{
	width:150px;
	height:auto;
	float:right;
	border-radius:4px;
	word-wrap:break-word;
}
.foot_con_name_name_email{
	width:250px;
	height:auto;
	float:right;
	border-radius:4px;
	word-wrap:break-word;
}
#foot_con_pack{
	width:240px;
	height:130px;
	float:right;
	display:inline-block;
}
#foot_con_name{
	width:240px;
	height:37px;
	float:right;
	border-radius:4px;
        overflow: hidden;
}
#foot_con_address{
	width:240px;
	height:37px;
	float:right;
	border-radius:4px;
        overflow: hidden;
}
#foot_con_reputation{
	height:37px;
	width:240px;
	float:right;
	border-radius:4px;
        word-wrap: break-word;
        overflow: hidden;
}
#foot_con_gender{
	height:37px;
	width:240px;
	float:right;
	border-radius:4px;
    word-wrap: break-word;
        overflow: hidden;
}
#foot_con_bestfor{
	width:290px;
	height:auto;
	border-radius:4px;
	word-wrap:break-word;
	margin-top:10px;
	margin-left:-60px;
}
#foot_con_email{
	height:auto;
	width:335px;
	float:right;
	border-radius:4px;
        margin-right:-95px;
}
#foot_con_joind{
	height:auto;
	width:240px;
	float:right;
	border-radius:4px;
        word-wrap: break-word;
        margin-top: 10px;
}
/*end of profile details*/
/*reputation*/
/*chart*/
#dp_wrapper_maincon_body_chart{
	width:550px;
	height:auto;
        display: inline-block;
}
/*end of chart*/
#dp_wrapper_maincon_reputation{
	width:740px;
	height:auto;
	margin:0 auto 0px;
        margin: 10px 10px 0px;
        display: inline-block;
}
#dp_wrapper_maincon_reputation_head{
	width:740px;
	height:auto;
}
#dp_wrapper_maincon_reputation_detailscon{
    width: 160px;
    height:auto;
    word-wrap:break-word;
    float: right;
    display: inline-block;
    margin-top: 75px;
    margin-right: 10px;
}
/*end of reputation*/
/*end of main con body*/
/*maincon two*/
#dp_wrapper_maincontwo{
	width:770px;
	height:auto;
        margin-top: 20px;
        padding-bottom: 20px;
}
#dp_wrapper_maincontwo_body{
       width:760px;
	height:auto;
        -webkit-box-shadow: 0 1px 3px 0 white;
        box-shadow: 0 0 5px #CACACA;
        margin: 10px auto 0px;
        padding-bottom: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
}
#dp_wrapper_maincontwo_head{
	width:770px;
	height:auto;
}
/*answers*/
#dp_wrapper_maincontwo_answers{
	width:750px;
	height:auto;
}
#dp_wrapper_maincontwo_answers_head{
	width:750px;
	height:auto;
        margin-left: 5px;
}
#dp_wrapper_maincontwo_answers_content{
	width:740px;
	height:auto;
	margin-top:10px;
        margin:0 auto 0px;
	margin-top:15px;
        margin-left: 10px;
        -webkit-box-shadow: 0 1px 3px 0 white;
        display: block;
        box-shadow: 0 0 5px #CACACA;
        padding-top: 10px;
        padding-bottom: 10px;
        display: inline-block;
}
#dp_wrapper_maincontwo_answers_content_status{
	width:70px;
	height:50px;
	display:inline-block;
	margin-left:10px;
	background-color:#CCC;
	text-align:center;
}
#dp_wrapper_maincontwo_answers_content_status_count{
	width:70px;
	height:25px;
	font-size:20px;
        vertical-align: middle;
        line-height: 30px;
}
#dp_wrapper_maincontwo_answers_content_details{
	width:650px;
        height: auto;
	margin:0 auto 0px;
	margin-left:10px;
	float:right;
	display:inline-block;
	word-wrap:break-word;
}
/*end of answers*/
/*questions*/
#dp_wrapper_maincontwo_questions{
	width:750px;
	height:auto;
}
#dp_wrapper_maincontwo_questions_head{
	width:750px;
	height:auto;
}
#dp_wrapper_maincontwo_questions_content{
	width:740px;
	height:auto;
	margin-top:10px;
        margin:0 auto 0px;
	margin-top:15px;
        margin-left: 10px;
        -webkit-box-shadow: 0 1px 3px 0 white;
        display: block;
        box-shadow: 0 0 5px #CACACA;
        padding-top: 10px;
        padding-bottom: 10px;
}
#dp_wrapper_maincontwo_questions_content_status{
	width:70px;
	height:50px;
	display:inline-block;
	margin-left:10px;
	background-color:#CCC;
	text-align:center;
}
#dp_wrapper_maincontwo_questions_content_status_count{
	width:70px;
	height:25px;
	font-size:20px;
        vertical-align: middle;
        line-height: 30px;
}
#dp_wrapper_maincontwo_questions_content_details{
	width:650px;
	height:auto;
	margin:0 auto 0px;
	margin-left:10px;
	float:right;
	display:inline-block;
	word-wrap:break-word;
}
/*end of questions*/
/*end of maincontwo*/
	
/*Answewrs page styles*/
#dp_wrapper_maincontwo_answerspage{
	width:750px;
	height:auto;
	display:inline-block;
}
#dp_wrapper_maincontwo_answerspage_head{
	width:750px;
	height:auto;
	display:inline-block;
}
#dp_wrapper_maincontwo_answerspage_head_con1{
	width:auto;
	height:auto;
	display:inline-block;
        margin-left: 10px;
}
#dp_wrapper_maincontwo_answerspage_head_con2{
	width:100px;
	height:auto;
	display:inline-block;
}
#dp_wrapper_maincontwo_answerspage_head_con3{
	width:200px;
	height:auto;
	float:right;
	display:inline-block;
}
#dp_wrapper_maincontwo_answerspage_body{
	width:740px;
	height:auto;
	display:inline-block;
}
#dp_wrapper_maincontwo_answerspage_content_borderdiv{
	width:740px;
	height:auto;
	margin-left:10px;
	padding-bottom:15px;
}
#dp_wrapper_maincontwo_answerspage_content{
	 width:740px;
	 height:auto;
	 margin-top:10px;
     margin:0 auto 0px;
	 margin-top:15px;
     -webkit-box-shadow: 0 1px 3px 0 white;
     display: block;
     box-shadow: 0 0 5px #CACACA;
     padding-top: 10px;
     padding-bottom: 10px;
}
#dp_wrapper_maincontwo_answerspage_content_closereq{
	width:730px;
	height:auto;
	display:inline-block;
	background-color:#CCC;
	border-radius:3px;
	margin-top:10px;
	padding-bottom:5px;
	margin-left:5px;
}
#dp_wrapper_maincontwo_answerspage_content_status{
	width:70px;
	height:20px;
	display:inline-block;
	margin-left:10px;
	background-color:#CCC;
	text-align:center;
        float: left;
}
/*#dp_wrapper_maincontwo_answerspage_content_status_count{
	width:70px;
	height:25px;
}*/
#dp_wrapper_maincontwo_answerspage_content_details{
	width:470px;
	height:auto;
	margin:0 auto 0px;
	margin-left:10px;
	display:inline-block;
	word-wrap:break-word;
}
/*foot style*/
#dp_wrapper_foot{
	width:750px;
	height:auto;
	margin-top:20px;
        display: inline-block;
}
#dp_wrapper_foot_right{
	width:230px;
	height:auto;
	float:right;
	display:inline-block;
	word-wrap:break-word;
}
#dp_wrapper_foot_right_prve{
	width:30px;
	height:20px;
	color:#999;
	display:inline-block;

}
#dp_wrapper_foot_right_prve:hover{
	background-color:#CCC;
	color:#FFF;
}
#dp_wrapper_foot_right_spece{
	width:20px;
	height:20px;
	color:#999;	
	display:inline-block;
	text-align:center;
}
#dp_wrapper_foot_right_number{
	width:20px;
	height:20px;
	border-style:solid;
	border-width:thin;
	color:#999;
	display:inline-block;
	text-align:center;
	margin-left:2px;
}
#dp_wrapper_foot_right_number:hover{
	background-color:#CCC;
	color:#FFF;
}
#dp_wrapper_foot_right_count{
	width:auto;
	height:20px;
	border-style:solid;
	border-width:thin;
	color:#999;
	display:inline-block;
	text-align:center;
	padding-left:3px;
	padding-right:3px;
	margin-left:3px;
}
#dp_wrapper_foot_right_count:hover{
	background-color:#CCC;
	color:#FFF;
}
#dp_wrapper_foot_right_next{
	width:35px;
	height:20px;
	color:#999;
	display:inline-block;
	padding-left:5px;
}
#dp_wrapper_foot_right_next:hover{
	background-color:#CCC;
	color:#FFF;
}
/*end of foot style*/	
/*end of answers page styles*/
/*questions page styles*/
#dp_wrapper_maincontwo_questionspage{
	width:750px;
	height:auto;
	display:inline-block;
}
#dp_wrapper_maincontwo_questionspage_head{
	width:750px;
	height:auto;
	display:inline-block;
}
#dp_wrapper_maincontwo_questionspage_head_con1{
	width:auto;
	height:auto;
	display:inline-block;
        margin-left: 10px;
}
#dp_wrapper_maincontwo_questionspage_head_con2{
	width:100px;
	height:auto;
	display:inline-block;
}
#dp_wrapper_maincontwo_questionspage_head_con3{
	width:200px;
	height:auto;
	float:right;
	display:inline-block;
}
#dp_wrapper_maincontwo_questionspage_body{
	width:740px;
	height:auto;
	display:inline-block;
}
#dp_wrapper_maincontwo_questionspage_content_borderdiv{
	width:740px;
	height:auto;
	border-bottom:dotted;
	margin-left:10px;
	padding-bottom:15px;
}
#dp_wrapper_maincontwo_questionspage_content{
	 width:740px;
	 height:auto;
	 margin-top:10px;
     margin:0 auto 0px;
	 margin-top:15px;
     -webkit-box-shadow: 0 1px 3px 0 white;
     display: block;
     box-shadow: 0 0 5px #CACACA;
     padding-top: 10px;
     padding-bottom: 10px;
}
#dp_wrapper_maincontwo_questionspage_content_closereq{
	width:730px;
	height:auto;
	display:inline-block;
	background-color:#CCC;
	border-radius:3px;
	margin-top:10px;
	padding-bottom:5px;
	margin-left:5px;
}
#dp_wrapper_maincontwo_questionspage_content_statuscon{
	width:125px;
	height:auto;
	word-wrap:break-word;
	margin-left:5px;
	display:inline-block;
}
#dp_wrapper_maincontwo_questionspage_content_status{
	width:60px;
	height:60px;
	display:inline-block;
	background-color:#CCC;
	text-align:center;
	margin-top:5px;
}
#dp_wrapper_maincontwo_questionspage_content_status:hover{
	 -webkit-box-shadow: 0 1px 3px 0 white;
    box-shadow: 0 0 10px #CACACA;
}
#dp_wrapper_maincontwo_questionspage_content_status_count{
	width:50px;
	height:35px;
	vertical-align:middle;
	margin-left:5px;
	line-height:45px;
}
#dp_wrapper_maincontwo_questionspage_content_status_count_image{
        width:40px;
	height:35px;
	vertical-align:middle;
	margin-left:10px;
	line-height:45px;
}
#dp_wrapper_maincontwo_questionspage_content_details{
	width:500px;
	height:auto;
	margin:0 auto 0px;
	margin-left:10px;
	margin-right:5px;
	margin-top:5px;
	display:inline-block;
	word-wrap:break-word;
	float:right;
}
/*foot style*/
#dp_wrapper_questionspage_foot{
	width:750px;
	height:auto;
	margin-top:20px;
    display: inline-block;
}
#dp_wrapper_questionspage_foot_right{
	width:230px;
	height:auto;
	float:right;
	display:inline-block;
	word-wrap:break-word;
}
#dp_wrapper_questionspage_foot_right_prve{
	width:30px;
	height:20px;
	color:#999;
	display:inline-block;

}
#dp_wrapper_questionspage_foot_right_prve:hover{
	background-color:#CCC;
	color:#FFF;
}
#dp_wrapper_questionspage_foot_right_spece{
	width:20px;
	height:20px;
	color:#999;	
	display:inline-block;
	text-align:center;
}
#dp_wrapper_questionspage_foot_right_number{
	width:20px;
	height:20px;
	border-style:solid;
	border-width:thin;
	color:#999;
	display:inline-block;
	text-align:center;
	margin-left:2px;
}
#dp_wrapper_questionspage_foot_right_number:hover{
	background-color:#CCC;
	color:#FFF;
}
#dp_wrapper_questionspage_foot_right_count{
	width:auto;
	height:20px;
	border-style:solid;
	border-width:thin;
	color:#999;
	display:inline-block;
	text-align:center;
	padding-left:3px;
	padding-right:3px;
	margin-left:3px;
}
#dp_wrapper_questionspage_foot_right_count:hover{
	background-color:#CCC;
	color:#FFF;
}
#dp_wrapper_questionspage_foot_right_next{
	width:35px;
	height:20px;
	color:#999;
	display:inline-block;
	padding-left:5px;
}
#dp_wrapper_questionspage_foot_right_next:hover{
	background-color:#CCC;
	color:#FFF;
}
/*end of foot style*/
/*end of questions page styles*/

/*tags page styles*/
#dp_wrapper_maincontwo_tagspage{
	width:750px;
	height:auto;
	display:inline-block;
}
#dp_wrapper_maincontwo_tagspage_head{
	width:750px;
	height:auto;
	display:inline-block;
}
#dp_wrapper_maincontwo_tagspage_head_con1{
	width:auto;
	height:auto;
	display:inline-block;
        margin-left: 10px;
}
#dp_wrapper_maincontwo_tagspage_head_con2{
	width:100px;
	height:auto;
	display:inline-block;
}
/*#dp_wrapper_maincontwo_tagspage_head_con3{
	width:200px;
	height:auto;
	float:right;
	display:inline-block;
}*/
#dp_wrapper_maincontwo_tagspage_body{
	width:740px;
	height:auto;
	display:inline-block;
}
#dp_wrapper_maincontwo_tagspage_content_borderdiv{
	width:740px;
	height:auto;
	border-bottom:dotted;
	margin-left:10px;
	padding-bottom:15px;
}
#dp_wrapper_maincontwo_tagspage_content{
	 width:740px;
	 height:auto;
	 margin-top:10px;
     margin:0 auto 0px;
	 margin-top:15px;
     -webkit-box-shadow: 0 1px 3px 0 white;
     display: block;
     box-shadow: 0 0 5px #CACACA;
     padding-top: 10px;
     padding-bottom: 10px;
}
#dp_wrapper_maincontwo_tagspage_content_closereq{
	width:720px;
	height:auto;
	display:inline-block;
	background-color:#CCC;
	border-radius:3px;
	margin-top:10px;
	padding-bottom:5px;
	margin-left:10px;
}
#dp_wrapper_maincontwo_tagspage_status_con{
	width:auto;
	height:auto;
	margin-top:5px;
	margin-left:10px;
	display:inline-block;
}
#dp_wrapper_maincontwo_tagspage_status{
	width:70px;
	height:46px;
	text-align:center;
	background-color:#CCC;
	font-size:15px;
}
#dp_wrapper_maincontwo_tagspage_status_count_vote{
	width:60px;
	height:19px;
	text-align:center;
	font-size:20px;
}
#dp_wrapper_maincontwo_tagspage_status_count_answers{
	width:60px;
	height:19px;
	text-align:center;
	font-size:20px;
}
#dp_wrapper_maincontwo_tagspage_status_count_views{
	width:60px;
	height:19px;
	text-align:center;
	font-size:20px;
}
#dp_wrapper_maincontwo_tagspage_content_title{
	width:620px;
	height:auto;
	margin:0 auto 0px;
	margin-left:90px;
	float:right;
	display:inline-block;
	margin-top:-90px;
	word-wrap:break-word;
	margin-right:10px;
	font-weight:bold;
	font-style:italic;
}
#dp_wrapper_maincontwo_tagspage_content_content{
	width:620px;
	height:auto;
	margin:0 auto 0px;
	margin-left:10px;
	display:inline-block;
	word-wrap:break-word;
	margin-top:-60px;
	margin-left:90px;
	float:right;
	margin-right:10px;
}
/*foot style*/
#dp_wrapper_tagspage_foot{
	width:750px;
	height:auto;
	margin-top:20px;
        display: inline-block;
}
#dp_wrapper_tagspage_foot_right{
	width:230px;
	height:auto;
	float:right;
	display:inline-block;
	word-wrap:break-word;
}
#dp_wrapper_tagspage_foot_right_prve{
	width:30px;
	height:20px;
	color:#999;
	display:inline-block;

}
#dp_wrapper_tagspage_foot_right_prve:hover{
	background-color:#CCC;
	color:#FFF;
}
#dp_wrapper_tagspage_foot_right_spece{
	width:20px;
	height:20px;
	color:#999;	
	display:inline-block;
	text-align:center;
}
#dp_wrapper_tagspage_foot_right_number{
	width:20px;
	height:20px;
	border-style:solid;
	border-width:thin;
	color:#999;
	display:inline-block;
	text-align:center;
	margin-left:2px;
}
#dp_wrapper_tagspage_foot_right_number:hover{
	background-color:#CCC;
	color:#FFF;
}
#dp_wrapper_tagspage_foot_right_count{
	width:auto;
	height:20px;
	border-style:solid;
	border-width:thin;
	color:#999;
	display:inline-block;
	text-align:center;
	padding-left:3px;
	padding-right:3px;
	margin-left:3px;
}
#dp_wrapper_tagspage_foot_right_count:hover{
	background-color:#CCC;
	color:#FFF;
}
#dp_wrapper_tagspage_foot_right_next{
	width:35px;
	height:20px;
	color:#999;
	display:inline-block;
	padding-left:5px;
}
#dp_wrapper_tagspage_foot_right_next:hover{
	background-color:#CCC;
	color:#FFF;
}
/*end of foot style*/	
/*end pf tags page style*/
/*commen styles*/
#font{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style:italic;
	font-size:16px;
}
#dp_wrapper_maincon_body_tags_tab{
	width:500px;
        margin-top: -20px;
	margin-left:140px;
	word-wrap:break-word;
}
#dp_wrapper_maincon_body_tags_tab_tag{
	border-radius:3px;
	background-color:#CCC;
	text-decoration:none;
	padding:3px 3px 3px 3px;
}
#dp_wrapper_maincon_body_tags_tab_tag:hover{
	background-color:#999;
}
/*colse request styles*/
#close_request{
	width:720px;
	height:auto;
	margin-top:10px;
}
#close_request_tag{
	width:90px;
	height:auto;
	display:inline-block;
	background-color:#999;
        margin-left: 5px;
        margin-top: -3px;
        border-radius: 3px;
        padding: 2px;
}
#close_request_content{
	width:600px;
	height:auto;
	display:inline-block;
	float:right;
	word-wrap:break-word;
}
/*end of close style request*/
/*-----------------------*/

/*reputation  page styles*/
#dp_wrapper_maincontwo_reputationpage_head{
	width:750px;
	height:auto;
    margin-left: 5px;
}
#dp_wrapper_maincontwo_reputationpage_content{
	width:720px;
	height:auto;
    margin:0 auto 0px;
    margin-left: 20px;
	margin-bottom:10px;
    -webkit-box-shadow: 0 1px 3px 0 white;
    display: block;
    box-shadow: 0 0 5px #CACACA;
    padding-bottom: 10px;
}
#dp_wrapper_maincontwo_reputationpage_content_date{
	width:700px;
	height:auto;
	margin-left:10px;
	border-bottom:thin;
	border-bottom-style:solid;
	padding-top:5px;
	padding-bottom:5px;
	margin-bottom:5px;
}
#dp_wrapper_maincontwo_reputationpage_content_row{
	width:710px;
	height:auto;
	display:inline-block;
}
#dp_wrapper_maincontwo_reputationpage_content_rowset{
	width:710px;
	height:auto;
	display:inline-block;
	padding-bottom:5px;
	margin-left:5px;
}
#dp_wrapper_maincontwo_reputationpage_content_row_con1{
	width:auto;
	height:22px;
	float:right;
	text-align:center;
        margin-right: 15px;
        font-size: 20px;
}
#dp_wrapper_maincontwo_reputationpage_content_row_con2{
	width:50px;
	height:22px;
	float:right;
	text-align:center;
        line-height: 27px;
}
#dp_wrapper_maincontwo_reputationpage_content_row_con3{
	width:80px;
	height:22px;
	float:right;
	text-align:center;
	line-height: 27px;
}
#dp_wrapper_maincontwo_reputationpage_content_row_con4{
	width:500px;
	height:22px;
	float:right;
        line-height: 27px;
}
/*end of reputation page styles*/