#dp_wrapper{
	width:770px;
	height:auto;
        margin-left: 10px;
        padding-bottom: 15px;
}
#dp_wrapper_maincon{
	width:770px;
	height:auto;
	margin:0 auto 0px;
	-webkit-box-shadow: 0 1px 3px 0 white;
    border: 1px solid white;
	display:inline-block;
    box-shadow: 0 0 5px #CACACA;
	margin-top:10px;
}
#dp_wrapper_maincon_head{
	width:773px;
	height:auto;
        margin-top: 10px;
}
/*mainconmenu*/
#mainconmenu,
#mainconmenu ul,
#mainconmenu ul li,
#mainconmenu ul li a {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
}
#mainconmenu {
  padding: 0 5px;
  width: auto;
  font-family: Helvetica, Arial, sans-serif;
  background-color:#FC0;
  border-radius:5px;
}
#mainconmenu:after,
#mainconmenu ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#mainconmenu ul li {
  display: inline-block;
}
#mainconmenu.align-right ul li {
  float: right;
}
#mainconmenu.align-center ul {
  text-align: center;
}
#mainconmenu ul li a {
  font-size: 14px;
  padding: 15px;
  text-decoration: none;
}
#mainconmenu ul li:hover{
  background-color:#FFF;
}
#mainconmenu ul li.active{
	width:650px;
	background-color:#FC0;
	padding-top:15px;
	padding-bottom:15px;
}
#mainconmenu ul li.activetwo{
	width:100px;
	background-color:#FC0;
	padding-top:15px;
}
/*end of main con menu*/

/*submenus*/
#subconmenu,
#subconmenu ul,
#subconmenu ul li,
#subconmenu ul li a {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
}
#subconmenu {
  padding: 5px 5px;
  width: auto;
  font-family: Helvetica, Arial, sans-serif;
  background-color:#FFF;
  border-bottom-width: 1px;
  border-bottom-style:solid;
  margin-top: 30px;
  margin-bottom: 30px;
}
#subconmenu:after,
#subconmenu ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#subconmenu ul li {
  display: inline-block;
}
#subconmenu.align-right ul li {
  float: right;
}
#subconmenu.align-center ul {
  text-align: center;
}
/*#subconmenu ul li a {
  font-size: 14px;
  padding: 15px;
  text-decoration: none;
}*/
#subconmenu ul li:hover{
  background-color:#FFF;
}
#subconmenu ul li.active{
	width:580px;
}
#subconmenu ul li.activetwo{
	width:100px;
}
/*end of main con menu*/

/*main con body*/
/* questions styles*/
#dp_wrapper_maincon_question{
	width:760px;
	height:auto;
	margin-left:10px;
	display:inline-block;
}
#dp_wrapper_maincon_body_status_con{
	width:auto;
	height:auto;
	margin-top:5px;
}
#dp_wrapper_maincon_body_status{
	width:70px;
	height:46px;
	text-align:center;
	font-size:15px;
}
.dp_wrapper_maincon_body_status_count_vote{
	width:40px;
	height:35px;
	background-repeat:no-repeat;
        background-size:cover;
	padding-bottom:5px;
	border-radius:5px;
        display: inline-block;
        margin-left: -10px;
        margin-top: 22px;
}
.dp_wrapper_maincon_body_status_count_vote:hover{
	-webkit-box-shadow: 0 1px 3px 0 white;
    border: 1px solid white;
    box-shadow: 0 0 5px #CACACA;
}
#dp_wrapper_maincon_body_status_count_answers{
	width:60px;
	height:19px;
	text-align:center;
	font-size:20px;
	padding-top:15px;
}
.dp_wrapper_maincon_body_status_count_views{
	width:40px;
	height:35px;
	text-align:center;
	font-size:20px;
	background-repeat:no-repeat;
    background-size:cover;
	padding-bottom:5px;
	border-radius:5px;
        display: inline-block;
        margin-left: -10px;
        margin-bottom: 22px;
        margin-top: -10px;
}
.dp_wrapper_maincon_body_status_count_views:hover{
	-webkit-box-shadow: 0 1px 3px 0 white;
    border: 1px solid white;
    box-shadow: 0 0 5px #CACACA;
}
#dp_wrapper_maincon_body_status_count_star{
	width:30px;
	height:30px;
	text-align:center;
	font-size:20px;
	background-repeat:no-repeat;
    background-size:cover;
	padding-bottom:5px;
	padding-left:5px;
	margin-top:10px;
	margin-left:7px;
	border-radius:5px;
        display: inline-block;
        margin-left: -10px;
}
#dp_wrapper_maincon_body_status_count_star:hover{
	-webkit-box-shadow: 0 1px 3px 0 white;
    border: 1px solid white;
    box-shadow: 0 0 5px #CACACA;
}
#dp_wrapper_maincon_body_status_count_star_count{
	width:60px;
	height:19px;
	text-align:center;
	font-size:20px;
}
#dp_wrapper_maincon_body_details{
	width:680PX;
	height:auto;
	float:right;
	margin-top:-190px;
	display:inline-block;
}
/*#dp_wrapper_maincon_body_titleofq{
	height:40px;
	width:700px;
	word-wrap:break-word;
	font-size:19px;
	border-radius:5px;
	vertical-align:middle;
	line-height:40px;
	color:#06F;
	margin-top:5px;
}*/
#dp_wrapper_maincon_body_titleofq:hover{
	text-decoration:underline;
}
#dp_wrapper_maincon_body_content{
	height:auto;
	width:680px;
	word-wrap:break-word;
	font-size:15px;
	border-radius:5px;
	vertical-align:middle;
	line-height:17px;
	display:inline-block;
}
#dp_wrapper_maincon_body_tags_tab{
	width:400px;
	height:auto;
	margin-top:20px;
	word-wrap:break-word;
	display:inline-block;
}
#dp_wrapper_maincon_body_tags_tab_tag{
	border-radius:3px;
	background-color:#CCC;
	text-decoration:none;
	padding:3px 3px 3px 3px;
	display:inline-block;
}
#dp_wrapper_maincon_body_tags_tab_tag:hover{
	background-color:#999;
}
#dp_wrapper_maincon_body_tags_tab_tag2{
	border-radius:3px;
	background-color:#CCC;
	text-decoration:none;
	padding:3px 3px 3px 3px;
	display:inline-block;
}
#dp_wrapper_maincon_body_status_con_two{
	width:auto;
	height:auto;
	float:right;
	margin-top:-75px;
	margin-bottom:15px;
	background-color:#CCC;
	padding-bottom:10px;
	padding-left:5px;
	padding-right:5px;
	margin-right:5px;
	display:inline-block;
        
}
#dp_wrapper_maincon_answers_close{
	height:30px;
	width:500px;
	word-wrap:break-word;
	font-size:15px;
	border-radius:5px;
	vertical-align:middle;
	line-height:17px;
	margin-bottom:10px;
}
#dp_wrapper_maincon_body_status_two{
	width:140px;
	height:20px;
	text-align:center;
	border-style:none;
	display:inline-block;
        margin-bottom: -10px;
}
#dp_wrapper_maincon_body_status_asked{
	width:46px;
	height:20px;
	position:absolute;
	border-style:none;
	text-align:left;
}
#dp_wrapper_maincon_body_status_time{
	width:94px;
	height:20px;
	float:right;
	border-style:none;
	text-align:left;
}
#dp_wrapper_maincon_body_status_three{
	width:140px;
	height:auto;
	margin-top:5px;
}
#dp_wrapper_maincon_body_status_three_image{
	width:45px;
	height:45px;
	background-repeat:no-repeat;
	background-size:cover;
	position:absolute;
}
#dp_wrapper_maincon_body_status_three_username{
	width:95px;
	height:20px;
	color:#09F;
	font-size:13px;
	float:right;
}
#dp_wrapper_maincon_body_status_three_reputation{
	width:95px;
	height:20px;
	font-size:13px;
	float:right;
}
#dp_wrapper_maincon_body_type_textcon{
	width:500px;
	height:30px;
	display:inline-block;
}
#add_comment_con{
	width:720px;
	height:auto;
}
#add_comment_borderdiv{
	width:680px;
	height:auto;
	margin-left:85px;
	padding-bottom:10px;
	margin-left:85px;
	padding-top:5px;

}
#add_comment{
	width:670px;
	height:auto;
	background-color:#CCC;
	word-wrap:break-word;
	padding:5px;
}
#add_comment_textdiv{
	width:680px;
	height:auto;
	margin-left:20px;
}
.add_comment_postdev{
	width:680px;
	height:auto;
	margin-left:85px;
	margin-top:10px;
}
/*end of questions details*/
/* answers styles*/
#dp_wrapper_maincon_answers{
	width:750px;
	height:auto;
	margin-left:10px;
}
#dp_wrapper_maincon_answers_con{
	width:750px;
	height:auto;
	display:inline-block;
        margin-top:-30px;
}
#dp_wrapper_maincon_answers_con_border{
	width:750px;
	height:auto;
	-webkit-box-shadow: 0 1px 3px 0 white;
    border: 1px solid white;
	display:inline-block;
    box-shadow: 0 0 5px #CACACA;
	margin-bottom:20px;
	padding-bottom:15px;
}
#dp_wrapper_maincon_answers_status_con{
	width:auto;
	height:auto;
	margin-top:30px;
}
#dp_wrapper_maincon_answers_status{
	width:70px;
	height:46px;
	text-align:center;
	font-size:15px;
}
.dp_wrapper_maincon_answers_status_count_vote{
	width:40px;
	height:35px;
	background-repeat:no-repeat;
    background-size:cover;
	padding-bottom:5px;
	border-radius:5px;
         display: inline-block;
        margin-left: -10px;
        margin-top: 20px;
}
.dp_wrapper_maincon_answers_status_count_vote:hover{
	-webkit-box-shadow: 0 1px 3px 0 white;
    border: 1px solid white;
    box-shadow: 0 0 5px #CACACA;
}
#dp_wrapper_maincon_answers_status_count_answers{
	width:60px;
	height:19px;
	text-align:center;
	font-size:20px;
	padding-top:15px;
}
.dp_wrapper_maincon_answers_status_count_views{
	width:40px;
	height:35px;
	background-repeat:no-repeat;
    background-size:cover;
	padding-bottom:5px;
	border-radius:5px;
         display: inline-block;
        margin-left: -10px;
        margin-top: -5px;
}
.dp_wrapper_maincon_answers_status_count_views:hover{
	-webkit-box-shadow: 0 1px 3px 0 white;
    border: 1px solid white;
    box-shadow: 0 0 5px #CACACA;
}
#dp_wrapper_maincon_answers_status_count_star{
	width:30px;
	height:30px;
	background-repeat:no-repeat;
    background-size:cover;
	padding-bottom:5px;
	padding-left:5px;
	margin-top:16px;
	margin-left:15px;
	border-radius:5px;
}

#dp_wrapper_maincon_answers_status_count_star_count{
	width:60px;
	height:19px;
	text-align:center;
	font-size:20px;
}
#dp_wrapper_maincon_answers_details{
	width:680PX;
	height:auto;
	float:right;
	margin-top:-160px;
}
/*#dp_wrapper_maincon_answers_titleofq{
	height:40px;
	width:700px;
	word-wrap:break-word;
	font-size:19px;
	border-radius:5px;
	vertical-align:middle;
	line-height:40px;
	color:#06F;
	margin-top:5px;
}*/
#dp_wrapper_maincon_answers_titleofq:hover{
	text-decoration:underline;
}
#dp_wrapper_maincon_answers_content{
	height:auto;
	width:670px;
	word-wrap:break-word;
	font-size:15px;
	border-radius:5px;
	vertical-align:middle;
	line-height:17px;
	margin-bottom:10px;
}
#dp_wrapper_maincon_answers_tags_tab{
	width:500px;
	height:auto;
	margin-top:20px;
	word-wrap:break-word;
}
#dp_wrapper_maincon_answers_tags_tab_tag{
	border-radius:3px;
	background-color:#CCC;
	text-decoration:none;
	padding:3px 3px 3px 3px;
	display:inline-block;
}
#dp_wrapper_maincon_answers_tags_tab_tag:hover{
	background-color:#999;
}
#dp_wrapper_maincon_answers_status_con_two{
	width:auto;
	height:auto;
	float:right;
	margin-top:-75px;
	margin-bottom:15px;
	background-color:#CCC;
	padding-bottom:10px;
	padding-left:5px;
	padding-right:5px;
	margin-right:5px;
	display:inline-block;
}
#dp_wrapper_maincon_body_tags_close{
	width:400px;
	height:30px;
	margin-top:20px;
	word-wrap:break-word;
	display:inline-block;
}
#dp_wrapper_maincon_answers_status_two{
	width:140px;
	height:20px;
	text-align:center;
	border-style:none;
	display:inline-block;
        margin-bottom: -10px;
}
#dp_wrapper_maincon_answers_status_asked{
	width:46px;
	height:20px;
	position:absolute;
	border-style:none;
	text-align:left;
}
#dp_wrapper_maincon_answers_status_time{
	width:94px;
	height:20px;
	float:right;
	border-style:none;
	text-align:left;
}
#dp_wrapper_maincon_answers_status_three{
	width:140px;
	height:auto;
	margin-top:5px;
}
#dp_wrapper_maincon_answers_status_three_image{
	width:45px;
	height:45px;
	background-repeat:no-repeat;
	background-size:cover;
	position:absolute;
}
#dp_wrapper_maincon_answers_status_three_username{
	width:95px;
	height:20px;
	color:#09F;
	font-size:13px;
	float:right;
}
#dp_wrapper_maincon_answers_status_three_reputation{
	width:95px;
	height:20px;
	font-size:13px;
	float:right;
}
#answers_add_comment_con{
	width:720px;
	height:auto;
}
#answers_add_comment_borderdiv{
	width:680px;
	height:auto;
	margin-left:85px;
	padding-bottom:10px;
	margin-left:65px;
	padding-top:5px;

}
#answers_add_comment{
	width:670px;
	height:auto;
	background-color:#CCC;
	word-wrap:break-word;
	padding:5px;
}
.add_answers_comment_textdiv{
	width:680px;
	height:auto;
}
.add_answers_comment_postdev{
	width:680px;
	height:auto;
	margin-left:65px;
	margin-top:10px;
}
/*end of answers details*/

/*------youer Answer styles----*/
#dp_wrapper_maincon_postanswer{
	width:770px;
	height:auto;
}
#dp_wrapper_maincon_postanswer_textarea{
	width:760px;
	height:auto;
	margin-left:5px;
	margin-bottom:10px;
}
/*------end of youer Answer----*/
/*end of main con body*/
#font{
	font-family: sans-serif;
	font-style:italic;
}
#textboxstyle{
    background: white; 
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    height:25px; 
    width: 495px; 
    padding-left: 8px;
}
#btn{
    background:#FC0;
    -webkit-box-shadow: 0 1px 3px 0 white;
    border: 1px solid white;
	border-radius:5px;
    box-shadow: 0 0 5px #CACACA;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
	margin-top:10px;
	margin-bottom:20px;
}
#btn:hover {
  background:#F90;
  text-decoration: none;
}


                .btn2{
    background:#FC0;
    -webkit-box-shadow: 0 1px 3px 0 white;
    border: 1px solid white;
	border-radius:5px;
    box-shadow: 0 0 5px #CACACA;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    padding: 3px 10px 3px 10px;
    text-decoration: none;
	margin-top:10px;
	margin-bottom:20px;
}
#btn2:hover {
  background:#F90;
  text-decoration: none;
}