
#dp_wrapper{
	width:770px;
	height:auto;
	margin-top:10px;
	margin-left:10px;
        padding-bottom: 15px;
}
#dp_wrapper_maincon{
	width:770px;
	height:auto;
	margin:0 auto 0px;
}
#dp_wrapper_maincon_head{
	width:770px;
	height:auto;
}

/*mainconmenu*/
#mainconmenu,
#mainconmenu ul,
#mainconmenu ul li,
#mainconmenu ul li a {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
}
#mainconmenu {
  padding: 0 5px;
  width: auto;
  font-family: Helvetica, Arial, sans-serif;
  background-color:#FC0;
  border-radius:5px;
  height: 45px;
}
#mainconmenu:after,
#mainconmenu ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#mainconmenu ul li {
  display: inline-block;
  margin-top: 2px;
}
#mainconmenu.align-right ul li {
  float: right;
}
#mainconmenu.align-center ul {
  text-align: center;
}
#mainconmenu ul li a {
  font-size: 14px;
  padding: 15px;
  text-decoration: none;
}
#mainconmenu ul li:hover{
  background-color:#FFF;
}
#mainconmenu ul li.active{
	width:450px;
	background-color:#FC0;
}
/*end of main con menu*/

/*submenus*/
#subconmenu,
#subconmenu ul,
#subconmenu ul li,
#subconmenu ul li a {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
}
#subconmenu {
  padding: 5px 5px;
  width: auto;
  font-family: Helvetica, Arial, sans-serif;
  background-color:#FFF;
  border-bottom-width: 1px;
  border-bottom-style:solid;
  margin-top: 30px;
  margin-bottom: 30px;
}
#subconmenu:after,
#subconmenu ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#subconmenu ul li {
  display: inline-block;
}
#subconmenu.align-right ul li {
  float: right;
}
#subconmenu.align-center ul {
  text-align: center;
}
/*#subconmenu ul li a {
  font-size: 14px;
  padding: 15px;
  text-decoration: none;
}*/
#subconmenu ul li:hover{
  background-color:#FFF;
}
#subconmenu ul li.active{
	width:580px;
}
#subconmenu ul li.activetwo{
	width:100px;
}
/*end of sub main con menu*/

/*main con body*/
#dp_wrapper_maincon_body{
	width:770px;
	height:auto;
	display:inline-block;
        -webkit-box-shadow: 0 1px 3px 0 white;
        border: 1px solid white;
        box-shadow: 0 0 5px #CACACA;
        margin-top: 15px;
        padding-bottom: 10px;
}
#dp_wrapper_maincon_body_type{
	width:420px;
	height:auto;
	display:inline-block;
	margin-top:20px;
}
#dp_wrapper_maincon_body_type_text{
	width:100px;
	height:auto;
	display:inline-block;
	margin-left:10px;
        float: left;
        padding-top: 5px;
}
#dp_wrapper_maincon_body_type_textcon{
	width:auto;
	height:auto;
        float: left;
       margin-left: 10px;
}
/*tags*/
#dp_wrapper_maincon_body_tags_con{
	width:770px;
	height:auto;
	margin-top:35px;
}
#dp_wrapper_maincon_body_tags_block{
	width:235px;
	height:auto;
	float:left;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:10px;
	margin-top:10px;
	margin-left:10px;
	background-color:#E9EAED
}
#dp_wrapper_maincon_body_tags_block_inherit{
	color:inherit;
}
#dp_wrapper_maincon_body_tags_block:hover{
	 -webkit-box-shadow: 10px 10px 10px 0 white;
    display: block;
    box-shadow: 0 0 5px #CACACA;
}
#dp_wrapper_maincon_body_tags_block_tagname{
	width:228px;
	height:22px;
        padding-left: 7px;
        line-height: 22px;
	background-color:#FC0;
	word-wrap:break-word;
}
#dp_wrapper_maincon_body_tags_block_discription{
	width:235px;
	height:80px;
	word-wrap:break-word;
	border-bottom-style:solid;
	border-bottom-width:thin;
        margin-top:5px;
}
#dp_wrapper_maincon_body_tags_block_useageandrank{
	width:235px;
	height:auto;
        margin-top:5px;
}
#dp_wrapper_maincon_body_tags_block_useage{
	width:115px;
	height:auto;
	float:left;
	word-wrap:break-word;
}
#dp_wrapper_maincon_body_tags_block_useage_name{
	width:70px;
	height:auto;
	float:left;
	word-wrap:break-word;
}
#dp_wrapper_maincon_body_tags_block_useage_count{
	width:45px;
	height:auto;
	float:right;
	word-wrap:break-word;
	color:#06F;
        margin-top: 3px;
        margin-top: 1px;
}
#dp_wrapper_maincon_body_tags_block_rank{
	width:120px;
	height:auto;
	word-wrap:break-word;
	float:right;
}
#dp_wrapper_maincon_body_tags_block_rank_name{
	width:75px;
	height:auto;
	float:left;
	word-wrap:break-word;
}
#dp_wrapper_maincon_body_tags_block_rank_count{
	width:45px;
	height:auto;
	float:right;
	word-wrap:break-word;
	color:#06F;
        margin-top: 1px;
}
/*end of tags*/
/*end of main con body*/
/*create tag page styles*/
#createtag_head{
	width:750px;
	height:auto;
        margin-left: 10px;
}
#createtag_title{
	width:750px;
	height:auto;
}
#createtag_description{
	width:750px;
	height:auto;
	display:inline-block;
	display:inline-block;
	margin-top:15px;
}
#createtag_description_textarea{
	width:670px;
	height:auto;
	float:right;
	display:inline-block;
        margin-right: 40px;
        
}#btncon{
	width:200px;
	height:auto;
	border-radius:4px;
	display:inline-block;
	margin-top:10px;
	margin-left:605px;
}
#about_tags{
	width:735px;
	height:auto;
	background-color:#CCC;
	word-wrap:break-word;
	margin-left:10px;
	margin-right:10px;
	padding:5px;
	margin-top:10px;
	border-radius:3px;
        margin-bottom: 10px;
}
/* end of create tag page styles*/
#textboxstyle{
    background: white; 
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    height:25px; 
    width: 270px; 
    padding-left: 8px;
}
#font{
	font-family: sans-serif;
	font-style:italic;
	font-size:15px;
}
#btn{
    background:#FC0;
    -webkit-box-shadow: 0 1px 3px 0 white;
    border: 1px solid white;
    border-radius:5px;
    box-shadow: 0 0 5px #CACACA;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    margin-bottom: 10px;
}
#btn:hover {
  background:#FC0;
  text-decoration: none;
}

/*foot styles*/
#dp_wrapper_foot{
	width:770px;
	height:auto;
	margin-top:20px;
}
#dp_wrapper_foot_left{
	width:250px;
	height:auto;
	float:left;
	margin-right:-30px;
	display:inline-block;
	word-wrap:break-word;
        margin-bottom: 15px;
}
#dp_wrapper_foot_right{
	width:280px;
	height:auto;
	float:right;
	display:inline-block;
	word-wrap:break-word;
        margin-right: -100px;
}
#dp_wrapper_foot_left_prve{
	width:30px;
	height:20px;
	color:#999;
	display:inline-block;

}
#dp_wrapper_foot_left_spece{
	width:20px;
	height:20px;
	color:#999;	
	display:inline-block;
	text-align:center;
}
#dp_wrapper_foot_left_number{
	width:20px;
	height:20px;
	border-style:solid;
	border-width:thin;
	color:#999;
	display:inline-block;
	text-align:center;
	margin-left:2px;
}
#dp_wrapper_foot_left_count{
	width:auto;
	height:20px;
	border-style:solid;
	border-width:thin;
	color:#999;
	display:inline-block;
	text-align:center;
	padding-left:3px;
	padding-right:3px;
	margin-left:3px;
}
#dp_wrapper_foot_left_next{
	width:35px;
	height:20px;
	color:#999;
	display:inline-block;
	padding-left:5px;
}
#dp_wrapper_foot_left_prve:hover,
#dp_wrapper_foot_left_number:hover,
#dp_wrapper_foot_left_count:hover,
#dp_wrapper_foot_left_next:hover{
	background-color:#CCC;
	color:#FFF;
}
#dp_wrapper_foot_right_counts_one{
	width:20px;
	height:20px;
	border-style:solid;
	border-width:thin;
	color:#999;
	display:inline-block;
	text-align:center;
	margin-left:2px;
}
#dp_wrapper_foot_right_counts_two{
	width:20px;
	height:20px;
	border-style:solid;
	border-width:thin;
	color:#999;
	display:inline-block;
	text-align:center;
	margin-left:2px;
}
#dp_wrapper_foot_right_counts_three{
	width:20px;
	height:20px;
	border-style:solid;
	border-width:thin;
	color:#999;
	display:inline-block;
	text-align:center;
	margin-left:2px;
}
#dp_wrapper_foot_right_counts_three:hover,
#dp_wrapper_foot_right_counts_two:hover,
#dp_wrapper_foot_right_counts_one:hover
{
	background-color:#CCC;
	color:#FFF;
}
#dp_wrapper_foot_left_perpage{
	width:60px;
	height:20px;
	color:#999;
	display:inline-block;
	margin-left:5px;

}
#dp_wrapper_foot a:visited{
	color:inherit;
}