#dp_wrapper{
	width:770px;
	height:auto;
	margin-top:10px;
	margin-left:10px;
}
#dp_wrapper_maincon{
	width:770px;
	height:auto;
	margin:0 auto 0px;
}
#dp_wrapper_maincon_head{
	width:770px;
	height:auto;
}

/*mainconmenu*/
#mainconmenu,
#mainconmenu ul,
#mainconmenu ul li,
#mainconmenu ul li a {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
}
#mainconmenu {
  padding: 0 5px;
  width: auto;
  font-family: Helvetica, Arial, sans-serif;
  background-color:#FC0;
  border-radius:5px;
  height: 45px;
}
#mainconmenu:after,
#mainconmenu ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#mainconmenu ul li {
  display: inline-block;
  margin-top: 2px;
}
#mainconmenu.align-right ul li {
  float: right;
}
#mainconmenu.align-center ul {
  text-align: center;
}
#mainconmenu ul li a {
  font-size: 14px;
  padding: 15px;
  text-decoration: none;
}
#mainconmenu ul li:hover{
  background-color:#FFF;
}
#mainconmenu ul li.active{
	width:550px;
	background-color:#FC0;
}
/*end of main con menu*/

/*main con body*/
#dp_wrapper_maincon_content{
    width: 760px;
    height: auto;
    -webkit-box-shadow: 0 1px 3px 0 white;
    display: block;
    box-shadow: 0 0 5px #CACACA;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}
#dp_wrapper_maincon_body{
	width:770px;
	height:auto;
}
/*type div*/
#dp_wrapper_maincon_body_type{
	width:770px;
	height:auto;
	margin-top:20px;
	display:inline-block;
}
#dp_wrapper_maincon_body_type_text{
	width:120px;
	height:auto;
	display:inline-block;
	margin-left:10px;
}
#dp_wrapper_maincon_body_type_textcon{
	width:290px;
	height:auto;
	display:inline-block;
}
#dp_wrapper_maincon_body_letters{
	width:320px;
	height:auto;
	display:inline-block;
	float:right;
	word-wrap:break-word;
        margin-right: 10px;
}
#dp_wrapper_maincon_body_letters_numbers{
	width:20px;
	height:20px;
        vertical-align: middle;
        line-height: 20px;
	border-style:solid;
	border-width:thin;
	color:#999;
	display:inline-block;
	text-align:center;
	margin-left:0.1px;
	margin-top:1px;
}
#dp_wrapper_maincon_body_letters_numbers a:hover,
#dp_wrapper_maincon_body_letters_numbers:hover{
	background-color:#999;
	color:#FFF;
}
/*end of type div*/
/* footer div*/
#wrapper_foot{
	width:770px;
	height:auto;
	margin-top:20px;
}
#foot_con_main{
	width:290px;
	height:auto;
	margin-left:45px;
	padding-right:10px;
        padding-top: 10px;
	padding-bottom:10px;
        padding-left: 10px;
	border-radius:4px;
	margin-top:20px;
        margin-bottom: 30px;
	float:left;
        -webkit-box-shadow: 0 1px 3px 0 white;
        display: block;
        box-shadow: 0 0 5px #CACACA;
}
#foot_con_pic{
	width:70px;
	height:70px;
	background-repeat:no-repeat;
	background-size:cover;
	border-radius:4px;
}
#foot_con_bio{
	width:190px;
	height:auto;
	float:right;
	margin-top:-75px;
	border-radius:4px;
}
#foot_con_name{
	width:190px;
	height:auto;
	float:right;
	margin-top:-70px;
	border-radius:4px;
        overflow: hidden;
}
.foot_con_name_tag{
	width:80px;
	height:auto;
	float:left;
	border-radius:4px;
	margin-left:5px;
	word-wrap:break-word;
}
.foot_con_name_name{
	width:100px;
	height:18px;
	float:right;
	border-radius:4px;
	word-wrap:break-word;
        overflow: hidden;
}
#foot_con_address{
	width:190px;
	height:auto;
	float:right;
        margin-top: -42px;
	border-radius:4px;
}
#foot_con_reputation{
	height:auto;
	width:190px;
	float:right;
	margin-top:-14px;
	border-radius:4px;
    word-wrap: break-word;
}
#foot_con_bestfor{
	width:290px;
	height:auto;
	border-radius:4px;
	word-wrap:break-word;
	margin-top:20px;
}
#foot_con_bestfor_name{
	width:80px;
	height:auto;
	border-radius:4px;
	float:left;
}
#foot_con_bestfor_details{
	width:auto;
	height:auto;
	border-radius:4px;
	word-wrap:break-word;
}
#foot_con_bestfor_details_tag{
	border-radius:3px;
	background-color:#CCC;
	text-decoration:none;
        padding: 3px;
}
#foot_con_bestfor_details_tag:hover{
	background-color: #999;
}
/*end of footer div*/
/*end of main con body*/
#textboxstyle{
    background: white; 
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    height:25px; 
    width: 260px; 
    padding-left: 5px;
}
/*foot styles*/
#dp_wrapper_foot{
	width:770px;
	height:auto;
	margin-top:20px;
}
#dp_wrapper_foot_left{
	width:250px;
	height:auto;
	float:left;
	display:inline-block;
	word-wrap:break-word;
        margin-bottom: 15px;
        margin-left: 5px;
       
}
#dp_wrapper_foot_right{
	width:280px;
	height:auto;
	float:right;
	display:inline-block;
	word-wrap:break-word;
        margin-right: -100px;
}
#dp_wrapper_foot_left_prve{
	width:30px;
	height:20px;
	color:#999;
	display:inline-block;

}
#dp_wrapper_foot_left_spece{
	width:20px;
	height:20px;
	color:#999;	
	display:inline-block;
	text-align:center;
}
#dp_wrapper_foot_left_number{
	width:20px;
	height:20px;
	border-style:solid;
	border-width:thin;
	color:#999;
	display:inline-block;
	text-align:center;
	margin-left:2px;
}
#dp_wrapper_foot_left_count{
	width:auto;
	height:20px;
	border-style:solid;
	border-width:thin;
	color:#999;
	display:inline-block;
	text-align:center;
	padding-left:3px;
	padding-right:3px;
	margin-left:3px;
}
#dp_wrapper_foot_left_next{
	width:35px;
	height:20px;
	color:#999;
	display:inline-block;
	padding-left:5px;
}
#dp_wrapper_foot_left_prve:hover,
#dp_wrapper_foot_left_number:hover,
#dp_wrapper_foot_left_count:hover,
#dp_wrapper_foot_left_next:hover{
	background-color:#CCC;
	color:#FFF;
}
#dp_wrapper_foot_right_counts_one{
	width:20px;
	height:20px;
	border-style:solid;
	border-width:thin;
	color:#999;
	display:inline-block;
	text-align:center;
	margin-left:2px;
}
#dp_wrapper_foot_right_counts_two{
	width:20px;
	height:20px;
	border-style:solid;
	border-width:thin;
	color:#999;
	display:inline-block;
	text-align:center;
	margin-left:2px;
}
#dp_wrapper_foot_right_counts_three{
	width:20px;
	height:20px;
	border-style:solid;
	border-width:thin;
	color:#999;
	display:inline-block;
	text-align:center;
	margin-left:2px;
}
#dp_wrapper_foot_right_counts_three:hover,
#dp_wrapper_foot_right_counts_two:hover,
#dp_wrapper_foot_right_counts_one:hover
{
	background-color:#CCC;
	color:#FFF;
}
#dp_wrapper_foot_left_perpage{
	width:60px;
	height:20px;
	color:#999;
	display:inline-block;
	margin-left:5px;

}
#dp_wrapper_foot a:visited{
	color:inherit;
}
#font{
	font-family: sans-serif;
	font-style:italic;
	font-size:14px;
}