#wrapper{
	width:1000px;
	height:auto;
	margin:0 auto 0px;
	 -webkit-box-shadow: 0 1px 3px 0 white;
    border: 1px solid white;
    display: block;
    box-shadow: 0 0 5px #CACACA;
	padding-bottom:20px;
}
#head{
	width:800px;
	height:auto;
	background-color:#FC0;
	margin-left:100px;
}
h1{
	text-align:center;
}
#middle{
	width:800px;
	height:auto;
	margin-left:100px;
}
#title{
	font-size:20px;
	padding-left:10px;
	padding-top:15px;
}
#text{
	margin-top:10px;
}
#notification{
	display:inline-block;
	height:auto;
	width:500px;
	margin-left:10px;
	margin-top:20px;
	margin-bottom:20px;
	color:#999;
	font-style:italic;

}
/*table styles*/
.myOtherTable { background-color:#FFF;border-collapse:collapse;color:#000;font-size:18px; }
.myOtherTable th {background-color:#FC0;color:white; }
.myOtherTable td, .myOtherTable th { padding:5px;border:0; }
.myOtherTable td { border-bottom:1px dotted #BDB76B; }

#table{
	width:800px;
	height:auto;
	margin-left:100px;
}
/*---------------------*/
.textbox_search { 
    background: white; 
    background-repeat:no-repeat;
    background-size: contain;
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    height:20px; 
    width: 780px; 
    padding:5px;
    margin-left: 7px;
} 
.btn{
    background-color:#FC0;
    margin-top:40px;
    margin-bottom:20px;
    border:none;
	border-radius:5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    width:70px;
	float:right;
	display:inline-block;
}
.btn:hover {
  background:#F90;
  text-decoration: none;
}